<?xml version="1.0" encoding="UTF-8"?>
<!--该日志将日志级别不同的log信息保存到不同的文件中 -->
<configuration>


    <!-- 控制台的日志输出样式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} [%file:%line] %method %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

<!--    <property name="CONSOLE_LOG_PATTERN"-->
<!--              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS,CTT})-->

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <!-- 日志输出编码 -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 为logstash输出的JSON格式的Appender -->
    <appender name="logstash"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--        <destination>172.16.2.211:5000</destination>-->
<!--        <destination>192.168.1.15:5000</destination>-->
        <destination>localhost:7600</destination>
        <!-- 日志输出编码 -->
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

<!--            <timeZone>UTC</timeZone>-->
<!--            <timestamp datePattern="yyyy-MM-dd'T'HH:mm:ss.SSSZ,Asia/Shanghai"/>-->
<!--            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>-->
<!--            <timeZone>UTC+08</timeZone>-->

            <providers>
                <timestamp>
                    <timeZone>GMT+8</timeZone>
                </timestamp>
<!--                <timeZone>UTC</timeZone>-->
<!--                <timestampPattern>yyyy-MM-dd'T'HH:mm</timestampPattern>-->
<!--                <timeZone>Asia/Shanghai</timeZone>-->
<!--                <timeZone>UTC+08</timeZone>-->
<!--                <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ,Asia/Shanghai</timestampPattern>-->
<!--                <timestamp datePattern="yyyy-MM-dd'T'HH:mm:ss.SSSZ,Asia/Shanghai">-->
<!--                    <timeZone>Asia/Shanghai</timeZone>-->
<!--                    <dateFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ,Asia/Shanghai</dateFormat>-->
<!--                </timestamp>-->
                <pattern>
                    <pattern>
<!--                        {-->
<!--                        "severity": "%level",           &lt;!&ndash;//日志级别（[INFO][WARN][ERROR]）&ndash;&gt;-->
<!--                        "service": "${springAppName:-}",&lt;!&ndash;//程序的名字（APPName如：CMS）&ndash;&gt;-->
<!--                        "pid": "${PID:-}",              &lt;!&ndash;// port ID&ndash;&gt;-->
<!--                        "thread": "%thread",            &lt;!&ndash;//线程的名字&ndash;&gt;-->
<!--                        "class": "%logger{40}",         &lt;!&ndash;//日志打印所在的全类名&ndash;&gt;-->
<!--                        "method2": "%M",            &lt;!&ndash;//日志打印所在的方法名&ndash;&gt;-->
<!--                        "rest": "%message",              &lt;!&ndash;//日志的内容&ndash;&gt;-->
<!--                        "line": "%line",-->
<!--                        "file": "%file",-->
<!--                        "llll" : "%l",-->
<!--                        "winson-date" : "%date"-->
<!--                        }-->

<!--                        {-->
<!--                        "severity": "%level",           &lt;!&ndash;//日志级别（[INFO][WARN][ERROR]）&ndash;&gt;-->
<!--                        "service": "${springAppName:-}",&lt;!&ndash;//程序的名字（APPName如：CMS）&ndash;&gt;-->
<!--                        "pid": "${PID:-}",              &lt;!&ndash;// port ID&ndash;&gt;-->
<!--                        "thread": "%thread",            &lt;!&ndash;//线程的名字&ndash;&gt;-->
<!--                        "class": "%logger{40}",         &lt;!&ndash;//日志打印所在的全类名&ndash;&gt;-->
<!--                        "method": "%method",            &lt;!&ndash;//日志打印所在的方法名&ndash;&gt;-->
<!--                        "rest": "%message%ex{full}"              &lt;!&ndash;//日志的内容&ndash;&gt;-->
<!--                        }-->

                        {
                        "severity": "%level",           <!--//日志级别（[INFO][WARN][ERROR]）-->
                        "service": "${springAppName:-}",<!--//程序的名字（APPName如：CMS）-->
                        "pid": "${PID:-}",              <!--// port ID-->
                        "thread": "%thread",            <!--//线程的名字-->
                        "class": "%logger{40}",         <!--//日志打印所在的全类名-->
                        "method": "%method",            <!--//日志打印所在的方法名-->
                        "rest": "%message%ex{full}"              <!--//日志的内容-->
                        }

                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:/work/java/winson-for-java/logger-demo-v1/src/log/CMSApp.log</file>
        <encoder>
            <pattern>%method:%line : %date [%file:%line] %date l[%l] %level [%thread] %logger{10}  %m%n</pattern>
        </encoder>
    </appender>

    <appender name="roll_file" append="true" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>D:/work/java/winson-for-java/logger-demo-v1/src/log/logback5.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 这里必须有匹配模式，否则不会生效-->
            <fileNamePattern>D:/work/java/winson-for-java/logger-demo-v1/src/log/logback5-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>

            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>cn[%cn] d-> [%d] . M[%M].%m%n</pattern>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="logstash" />
        <appender-ref ref="FILE" />
        <appender-ref ref="roll_file" />
    </root>
</configuration>