<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="localtion[%l] : %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File1"
              fileName="D:/winson.log"
              bufferedIO="false"
              advertiseURI="D:/winson.log"
              advertise="true">
            <PatternLayout pattern="localtion[%l] : runtime [%r] class[%c] priority[%-5p] %d{HH:mm:ss.SSS} [%t] %-5level %logger{10} - %m || %n"/>
        </File>
        <RollingFile
            name="rf"
            fileName="D:/work/java/winson-for-java/logger-demo-v1/src/log/rf2.log"
            filePattern="D:/work/java/winson-for-java/logger-demo-v1/src/log/rf2_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="method: [%method] localtion[%l] : runtime [%r] class[%c] priority[%-5p] %d{HH:mm:ss.SSS} [%t] %-5level %logger{10} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <!-- 日志保留策略，配置只保留七天 -->
            <DefaultRolloverStrategy>
                <Delete basePath="D:/work/java/winson-for-java/logger-demo-v1/src/log/" maxDepth="1">
                    <IfFileName glob="rf2_*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
<!--        <logger name="com.winson.logger" level="INFO"/>-->
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="rf"/>
        </Root>
    </Loggers>
</Configuration>